@page "/profile"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Timesheet.Common
@* @attribute [Authorize] *@

@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>
        <table>
            <tr>
                <th>Source</th>
                <th>Type</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Identity</td>
                <td>Name</td>
                <td>@Username</td>
            </tr>
            <tr>
                <td>Identity</td>
                <td>Email</td>
                <td>@Email</td>
            </tr>
            @foreach(var claim in Claims)
            {
                <tr>
                    <td>Claim</td>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </table>
    </Authorized>
    <NotAuthorized>
        <p>Unknown user!</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private string Username = "";
    private string Email = "";
    private List<Claim> Claims = new List<Claim>();

    protected override async Task OnParametersSetAsync()
    {
        if (authenticationState is not null)
        {
            var state = await authenticationState;

            Username = state?.User?.Identity?.Name ?? string.Empty;
            Email = state.GetEmailForAuthenticatedUser();
            Claims = state.User.Claims.ToList();
        }
    }
}
