@page "/"

<PageTitle>Home</PageTitle>

<FluentLabel Typo="Typography.PageTitle">Alex kleine Toolsammlung</FluentLabel>

<div style="margin-top: 20px;">
    <FluentLabel Typo="Typography.Body">
        Eine private Sammlung kleiner Tools und Informationen, die mir das Leben einfacher machen und für die ich keinen besseren Platz gefunden habe.
    </FluentLabel>
</div>
