@using Timesheet.Common

@rendermode InteractiveServer

@* <FluentStack Orientation="Orientation.Vertical">
    <FluentLabel>Date</FluentLabel>
    <FluentLabel>Anwesenheit</FluentLabel>
    <FluentLabel>Kommen</FluentLabel>
    <FluentLabel>Gehen</FluentLabel>
    <FluentLabel>Mobil</FluentLabel>
    <FluentLabel>Gesamt</FluentLabel>
</FluentStack> *@

<table>
    <tr style="height:30px">
        <td><FluentLabel>Datum</FluentLabel></td>
    </tr>
    <tr>
        <td><FluentLabel>Anwesenheit</FluentLabel></td>
    </tr>
    <tr>
        <td><FluentLabel>Kommen</FluentLabel></td>
    </tr>
    <tr>
        <td><FluentLabel>Gehen</FluentLabel></td>
    </tr>
    <tr>
        <td><FluentLabel>Mobil</FluentLabel></td>
    </tr>
    <tr>
        <td><FluentLabel>Gesamt</FluentLabel></td>
    </tr>
</table>

@code {

}
